body{
    display: flex;
}
.box1{
    height: 200px;
    width: 50%;
    background-color: red;
}
.box2{
    height: 200px;
    width: 50%;
    background-color: yellow;
}
@media (max-width: 768px){
    body {
        display: block;
    }
    .box1
    {
        width: 100%;
    }
    .box2
    {
        width: 100%;

    }
}
