
.container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 700px;
    min-height: 600px;
    margin: auto;
    background-color:#f2f2f2;
}
.info{
    width: 700px;
}
.info .name{
    background-color: #cccccc;
    color: #000066;
    font-size: 40px;
    margin-bottom: 1px;
}
.info img{
    float: right;
}
.col1{
    font-weight: bold;
    margin-right: 50px;  
    float: left;
}
h2 { 
    background-color: #cccccc;
    border-bottom: 1px solid blue;
}
.taget ul li{
    list-style-type: square;
    padding-top: 10px;
}
.col{
    margin: 0;
    width: 200px;
    height: 70px;
    float: left;
}
.mini-font{
    font-weight: bold;
}
.exper ul li{
    list-style-type: circle;
    list-style-position: inside;
}